docs/schemas/plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--+
    | Copyright (c) 2007 Anyware Technologies and others.
    | All rights reserved. This program and the accompanying materials
    | are made available under the terms of the Eclipse Public License v1.0
    | which accompanies this distribution, and is available at
    | http://www.opensource.org/licenses/eclipse-1.0.php
    | 
    | Contributors:
    |     Anyware Technologies - initial API and implementation
    +-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="plugin" type="plugin">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <![CDATA[
                    This is the root element of the plugin file.
                ]]>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="plugin">
        <xsd:sequence>
            <xsd:element name="config" type="config" maxOccurs="1" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            This single element starts the declaration of shared config parameters.<br/>
                            Be careful ! After declaring it you must reference it in an actived feature to make it available.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extension-points" type="extension-points" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            This single element starts the declaration of new extension points (single or multiple)
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="feature" type="feature" maxOccurs="unbounded" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            This element starts the declaration of a feature.<br/>
                            Extensions, config and components declared in a feature are linked : if one extension is unactivated, all of them are.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="version" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            This attribute allow to specify the version of the plugin to check depencies.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="feature">
        <xsd:all>
            <xsd:element name="config" type="config" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            This single element starts the declaration of specific config parameters or references to shared parameters.<br/>
                            To reference a shared parameter simply put its id in the 'id' attribute on the 'param' element and keep the element empty.<br/>
                            To specify a specific parameter, declare it normally (it is already referenced).
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="components" type="components" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            This single element starts the declaration of avalon components.<br/>
                            Avalon components declared here (by opposition with thoses within the cocoon.xconf) can use extensions, reference parameters, ...
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extensions" type="extensions" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            This single element starts the declaration of extensions.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        Name of the feature. Must be unique within this file.<br/>
                        The full name of a feature is the concatenation of the plugin name, '.' and the feature name.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="depends" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        Reference the full name of a feature.<br/>
                        If this reference does not exists or is unactivated, the current feature will be also unactivated.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="extension-points">
        <xsd:sequence>
            <xsd:element name="extension-point" type="extension-point" maxOccurs="unbounded" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            Declare a new multiple extension point.<br/>
                            A multiple extension point is often a pool of component.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="single-extension-point" type="single-extension-point" maxOccurs="unbounded" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            Declare a new single extension point.<br/>
                            A single extension point is an avalon component where multiple implementations may be declared but a single one will be loaded.<br/>
                            The choice of the implementation to use is made in the runtime.xml file.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="single-extension-point">
        <xsd:attribute name="id" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        The unique identifier of the single extension point.<br/>
                        This value is also the avalon role (and must be unique in this point of view)
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="class" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        The java interface or (abstract) class defining the single extension point.<br/>
                        All implementation will be tested against this value to avoid later ClassCastException.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="default-extension-id" type="xsd:string" use="optional"> 
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        This attribute may contains the id of the implementation to choose if no choice is done in the runtime.xml file.<br/>
                        If this attribute is missing, the choice become mandatory in the runtime.xml file.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="extension-point">
        <xsd:sequence>
            <xsd:any processContents="skip" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        The unique identifier of the single extension point.<br/>
                        This value is also the avalon role (and must be unique in this point of view)
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="class" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        The java (concrete) class defining the extension point.<br/>
                        Extensions declared later in this file or in others plugin files will hang on to this class throught appropriate methods.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="extensions">
        <xsd:sequence>
            <xsd:element name="extension" type="extension" maxOccurs="unbounded" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            Declare an extension.<br/>
                            Can be a new implementation of a single extension point (and will so be disabled if it is not the choosen implementation).<br/>
                            Can be a new extension to a multiple extension point (and will so become available for any component).
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="extension">
        <xsd:sequence>
            <xsd:any processContents="skip" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        The unique identifier of the extension.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="point" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                       The id of the extension point to extend.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="class" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
	               <![CDATA[
                        The single extension point MUST define this attribute since there are always java classes. This class is an avalon compontent.<br/>
                        For multiple extension point, they may not use java classes thus this attribute is not used. 
                        If a multiple extension point needs a java class it is a good idea to use this attribute since javadoc will be automatically linked.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="config" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
	                <![CDATA[
                        The configuration transmited to the point is the content of this element if the 'config' attribute is missing.<br/>
                        If this attributed is set, it must reference a file (based on the context of the webapp) that will be transmited as configuration instead of of the content of the current element.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="logger" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        If this extension defines a class as an avalon component, this attribute may give logger category to transmit.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>            
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="components">
        <xsd:sequence>
            <xsd:element name="component" type="component" maxOccurs="unbounded" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            This element allows to declare a new avalon component.<br/>
                            This component may access extensions, may reference config parameters and may be unactivated if not used.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>            
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="component">
        <xsd:sequence>
            <xsd:any processContents="skip" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="class" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        This concrete java class of the avalon component.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>            
        </xsd:attribute>
        <xsd:attribute name="role" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        The avalon role of this component.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>            
        </xsd:attribute>
        <xsd:attribute name="config" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        The configuration transmited to the component of this element if the 'config' attribute is missing.<br/>
                        If this attributed is set, it must reference a file (based on the context of the webapp) that will be transmited as configuration instead of of the content of the current element.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>            
        </xsd:attribute>
        <xsd:attribute name="logger" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        If this extension defines a class as an avalon component, this attribute may give logger category to transmit.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>            
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="config">
        <xsd:sequence>
            <xsd:element name="param" type="configParam" maxOccurs="unbounded" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            If at the root of the plugin file, this element starts the declaration of a new shared config parameter.<br/>
                            If within a feature, this element may start the declaration of a new non-shared config parameter (if not empty) or may reference a existing shared parameter (if empty)
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>            
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="configParam">
        <xsd:all>
            <xsd:element name="LabelKey" type="configKey" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            The i18n key to use for the label of the parameter in the current catalogue.<br/>
                            The label is a short string : a kind of name for the parameter.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>            
            </xsd:element>
            <xsd:element name="DescriptionKey" type="configKey" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            The i18n key to use for the description of the parameter in the current catalogue.<br/>
                            The description is a sentence explaining the parameter and containing samples of values.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>            
            </xsd:element>
            <xsd:element name="Type" type="xsd:string" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                        The type of parameter to choose between :
                        <ul>
                            <li>boolean,</li>
                            <li>string,</li>
                            <li>password (string stored encoded and not retrievable clear),</li>
                            <li>long,</li>
                            <li>double,</li>
                            <li>date (date and time).</li>
                        </ul>
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>            
            </xsd:element>
            <xsd:element name="Widget" type="xsd:string" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            The widget to show to the user to make it change the value.<br/>
                            Depends on the type.<br/>
                            The builtin configuration screen only have one widget per type and will not read this value.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>            
            </xsd:element>
            <xsd:element name="DefaultValue" type="xsd:string" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            The default value to present to the user the first time the parameter is valued.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Enumeration" type="configClass" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            If the parameter can only be choosen in a defined list, this optional element allow to define it.<br/>
                            A class attribute can be setted to choose the class that will set the list : this class must inherit org.ametys.runtime.util.parameter.Enumerator and as an avalon component this class can receive the configuration.<br/>
                            <br/>
                            If this attribute is missing the org.ametys.runtime.util.parameter.StaticEnumerator is choosen.<br/>
                            The configuration is then : an element per item which name is the value and which text is the label. The attribute 'i18n' (true by default) means the text is a key. The attribute 'catalogue' means the plugin catalogue to use (current by default).<br/>
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Validation" type="configClass" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            If the parameter must be checked, this optional element allow to define it.<br/>
                            A class attribute can be setted to choose the class that will check : this class must inherit org.ametys.runtime.util.parameter.Validator and as an avalon component this class can receive the configuration.<br/>
                            <br/>
                            If this attribute is missing the org.ametys.runtime.util.parameter.DefaultValidator is choosen.<br/>
                            The configuration is then : an empty element 'mandatory' to specify the parameter cannot be empty and an element regexp that specify a java regexp that will be test against the value.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Category" type="configKey" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            The view for setting the configuration is mainly divided in category.<br/>
                            You can choose the category where to put this item by setting the value to an i18n key.<br/>
                            The default catalogue is the current one but the 'catalogue' attribute may define another plugin catalogue.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Group" type="configKey" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            The category is subdivided in groups.<br/>
                            You can choose the groups where to put this item by setting the value to an i18n key.<br/>
                            The default catalogue is the current one but the 'catalogue' attribute may define another plugin catalogue.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Order" type="xsd:integer" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[
                            In the current group, the order value (that is an integer) allow to change the display order of parameters.<br/>
                            A low number is a top element.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="id" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        If in a declaration of a new configuration paremeter, defines the unique identifier.<br/>
                        If referencing an exisiting parameter, must contains the id of this parameter.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>            
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="configKey">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="Catalogue" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <![CDATA[
                                The parent element is an i18n key of the current plugin catalogue.<br/>
                                The attribute may reference an other existing plugin (e.g. core)
                            ]]>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="configClass">
        <xsd:sequence>
            <xsd:any processContents="skip" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="class" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <![CDATA[
                        The parent element is implemented by a java class.<br/>
                        If you do not want to use the default implementation, defines the java class here.<br/>
                        See parent element documentation for more details.
                    ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>